/* DELETE VISUAL GUIDE BORDERS LATER */

html {
    box-sizing: border-box;
    font-family: Roboto, Tahoma;
}
*, *::before, *::after {
    box-sizing: inherit;   
}

/* UGLY BORDER VISUAL GUIDE START */

.action {
    border: 2px solid blue;
}

.action div {
    border: 2px solid yellow;
}

/* p {
    border: 2px solid pink;
} */

/* UGLY BORDER VISUAL GUIDE END */

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.header, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav {
    margin: 0px 15px;
    display: flex;
    justify-content: center;
    gap: 400px;
}

.logo-text {
    font-size: 24px;
    color:#F9FAF8;
}

.nav-links {
   margin: 0px;
   padding: 0px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.nav-links li {
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
}

.header-content {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.img-placeholder {
    background-color:slategrey;
    width: 400px;
    height: 200px;
    align-self:center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
    padding: 10px;
}

.inner-header-content {
    width: 450px;
    margin: 0px 15px;
}

.inner-header-content h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.inner-header-content p, .header .nav-links a, .header .img-placeholder {
    font-size: 18px;
    color: #E5E7EB;
}

.info {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 0px 100px;
}

.info-intro {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 25px;
}

.info-content {
    display: flex;
    justify-content: center;
}

.info-square {
    padding: 10px;
    flex-basis: 200px;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-square .img-square {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 5px;
}

.info-square .img-subtext {
    color: #1F2937;
    text-align: center;
    margin-top: 10px;
}

.quote {
    background-color: #E5E7EB;
}

.quote-content {
    margin: 0px 250px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    text-align: center;
}

.quote-speaker {
    color: #1F2937;
    font-size: 18px;
    font-weight: 700;
    text-align: right;
}

.action {
    background-color: #3882F6;
    font-size: 18px;
}

.action .inner-action-content {
    color:#FFFFFF;
}

.action-title {
    font-weight: 700;
}

.footer {
    color:#E5E7EB;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    width: 125px;
    border-radius: 5px;
    padding: 5px;
}

.header button {
    border: none;
}

.action button {
    border: 2px solid white;

}
