/* DELETE VISUAL GUIDE BORDERS LATER */

html {
    box-sizing: border-box;
    font-family: Roboto, Tahoma;
}
*, *::before, *::after {
    box-sizing: inherit;   
}

/* UGLY BORDER VISUAL GUIDE START */

.header {
    border: 2px solid green;
}

.info {
    border: 2px solid orange;
}

.quote {
    border: 2px solid purple;
}

.action {
    border: 2px solid blue;
}

.footer {
    border: 2px solid red;
}

.header div, .info div, .quote div, .action div, .footer div {
    border: 2px solid yellow;
}

h1, ul, p, button {
    border: 2px solid pink;
}

/* UGLY BORDER VISUAL GUIDE END */

.header, .footer {
    background-color: #1F2937;
}

.info, .action {
    background-color: #FFFFFF;
}

.quote {
    background-color: #E5E7EB;
}
